In [1]:
import rebound as rb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from planet_viz_script.simulation import simulation
from os.path import join

pygame 2.6.1 (SDL 2.28.4, Python 3.12.10)
Hello from the pygame community. https://www.pygame.org/contribute.html

c:\Users\rayen\AppData\Local\Programs\Python\Python312\Lib\site-packages\pygame\pkgdata.py:25: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_stream, resource_exists

In [2]:
r = join('..', 'data', 'exoplanets_physics_data.csv')
df = pd.read_csv(r).set_index('rowid').sort_values(by='hostname', ignore_index=True)

In [3]:
df.head(10)

,pl_name,hostname,pl_orbper,pl_orblper,pl_orbtper,pl_orbsmax,pl_orbeccen,st_rad,st_mass
0,11 Com b,11 Com,323.21000,91.330,2454519.400,1.178,0.238,13.76000,2.09
1,11 UMi b,11 UMi,516.21997,117.630,2452861.040,1.530,0.080,29.79000,2.78
2,14 And b,14 And,186.76000,0.000,2452853.000,0.775,0.000,11.55000,1.78
3,14 Her b,14 Her,1765.03890,23.043,2449614.563,2.774,0.373,0.93000,0.91
4,HD 145675 c,14 Her,15732.45889,5.229,2436430.122,11.924,0.393,0.93000,0.91
5,16 Cyg B b,16 Cyg B,798.50000,82.740,2450539.300,1.660,0.680,1.13000,1.08
6,17 Sco b,17 Sco,578.38000,57.030,2453294.410,1.450,0.060,25.92000,1.22
7,18 Del b,18 Del,982.85000,64.110,2454356.100,2.476,0.024,8.80000,2.10
8,1RXS J160929.1-210524 b,1RXS J160929.1-210524,NaN,NaN,NaN,330.000,NaN,1.31316,0.85
9,24 Boo b,24 Boo,30.33000,-179.200,2455129.200,0.194,0.032,12.19000,1.05

In [4]:
df.tail(10)

,pl_name,hostname,pl_orbper,pl_orblper,pl_orbtper,pl_orbsmax,pl_orbeccen,st_rad,st_mass
6035,tau Cet h,tau Cet,49.410000,7.450,NaN,0.243000,0.2300,0.83,0.783
6036,tau Cet g,tau Cet,20.000000,395.341,NaN,0.133000,0.0600,0.83,0.783
6037,tau Cet f,tau Cet,636.130000,119.750,NaN,1.334000,0.1600,0.83,0.783
6038,tau Cet e,tau Cet,162.870000,22.350,NaN,0.538000,0.1800,0.83,0.783
6039,tau Gem b,tau Gem,305.500000,137.400,2453270.700,1.170000,0.0310,26.80,2.300
6040,ups And c,ups And,241.258000,241.700,2450157.780,0.827774,0.2596,1.56,1.300
6041,ups And d,ups And,1276.460000,258.820,2451347.480,2.513290,0.2987,1.56,1.300
6042,ups And b,ups And,4.617033,324.900,2450005.368,0.059222,0.0215,1.56,1.300
6043,ups Leo b,ups Leo,385.200000,131.000,2455279.600,1.180000,0.3200,11.22,1.480
6044,xi Aql b,xi Aql,136.970000,0.000,2453001.000,0.625000,0.0590,10.86,1.740

In [5]:
df.columns

Index(['pl_name', 'hostname', 'pl_orbper', 'pl_orblper', 'pl_orbtper',
       'pl_orbsmax', 'pl_orbeccen', 'st_rad', 'st_mass'],
      dtype='object')

## Test Rebound

### FUNCIONAMIENTO DEL SIMULADOR :

El simulador comienza a funcionar al correr este notebook, que ejecuta funciones del script 'simulation.py' dentro de la carpeta planet_viz_script. La visualización de un sistema está definida por el parámetro que le entreguemos a la función simulation().

#### Hay 2 opciones principales:

- Si se ejecuta sin parametros de entrada, por defecto la función hará un random.choice y mostrará un sistema cualquiera de los disponibles en el data frame de forma aleatoria.

- Si se desea visualizar un sistema o planeta en particular, la función recibe el nombre de una host star y busca los planetas asociados a dicha estrella andfitriona junto a sus características físicas y ejecuta los cálculos necesarios para mostrar un accurate display de la órbita de los exoplanetas que brinden la información suficiente.

In [6]:
simulation()

        No fué posible inicializar la simulación, asegurate
        de haber escrito un nombre válido para la estrella andfitriona.