In [3]:
import rebound as rb
import numpy as np
import pandas as pd

from os.path import join

In [4]:
r = join('..', 'data', 'exoplanets_physics_data.csv')
df = pd.read_csv(r).set_index('rowid').sort_values(by='hostname', ignore_index=True)

In [5]:
df.head(10)

,hostname,pl_name,pl_orbper,pl_orbsmax,pl_rade,pl_bmasse,pl_dens,pl_orbeccen,pl_eqt,pl_insol,...,sy_dist,sy_snum,ra,dec,discoverymethod,disc_pubdate,x_pc,y_pc,disc_year,disc_telescope
0,11 Com,11 Com b,323.21000,1.178,12.200,4914.898486,14.900,0.238,NaN,NaN,...,93.1846,2,185.178779,17.793252,Radial Velocity,2008-01,-88.364958,-8.008843,2016.0,Canon 200mm f/1.8L
1,11 UMi,11 UMi b,516.21997,1.530,12.300,4684.814200,13.800,0.080,NaN,NaN,...,125.3210,1,229.274595,71.823943,Radial Velocity,2009-10,-25.505212,-29.625963,2025.0,8.2 m ESO VLT UT3 Melipal Telescope
2,14 And,14 And b,186.76000,0.775,13.100,1131.151301,2.760,0.000,NaN,NaN,...,75.4392,1,352.824150,39.235837,Radial Velocity,2008-12,57.973692,-7.298956,2007.0,0.10 m Schmidt Telescope
3,14 Her,14 Her b,1765.03890,2.774,12.600,2559.472162,7.030,0.373,NaN,NaN,...,17.9323,1,242.602101,43.816362,Radial Velocity,2003-01,-5.954231,-11.487907,2011.0,0.85 m Spitzer Space Telescope
4,14 Her,HD 145675 c,15732.45889,11.924,12.900,1597.087745,4.090,0.393,NaN,NaN,...,17.9323,1,242.602101,43.816362,Radial Velocity,2021-07,-5.954231,-11.487907,2015.0,0.95 m Kepler Telescope
5,16 Cyg B,16 Cyg B b,798.50000,1.660,13.500,565.737400,1.260,0.680,NaN,NaN,...,21.1397,3,295.465642,50.516824,Radial Velocity,1997-07,5.779530,-12.135760,1997.0,1.5 m Tillinghast Reflector Telescope
6,17 Sco,17 Sco b,578.38000,1.450,12.900,1373.018718,3.510,0.060,NaN,NaN,...,124.9530,1,243.462087,-11.837791,Radial Velocity,2020-12,-54.640410,-109.410346,2022.0,0.95 m Kepler Telescope
7,18 Del,18 Del b,982.85000,2.476,12.500,2926.246143,8.230,0.024,NaN,NaN,...,76.2220,2,314.607838,10.839138,Radial Velocity,2008-06,52.571961,-53.296592,2007.0,Canon 200mm f/1.8L
8,1RXS J160929.1-210524,1RXS J160929.1-210524 b,NaN,330.000,18.647,3000.000000,2.540,NaN,1700.0,NaN,...,139.1350,1,242.376234,-21.083140,Imaging,2008-12,-60.193374,-115.023075,2007.0,0.10 m Schmidt Telescope
9,24 Boo,24 Boo b,30.33000,0.194,13.900,280.642483,0.574,0.032,NaN,NaN,...,95.9863,1,217.155524,49.844649,Radial Velocity,2018-08,-49.332600,-37.385160,2014.0,0.95 m Kepler Telescope

In [6]:
df.tail(10)

,hostname,pl_name,pl_orbper,pl_orbsmax,pl_rade,pl_bmasse,pl_dens,pl_orbeccen,pl_eqt,pl_insol,...,sy_dist,sy_snum,ra,dec,discoverymethod,disc_pubdate,x_pc,y_pc,disc_year,disc_telescope
6035,tau Cet,tau Cet h,49.410000,0.243000,1.19,1.830000,5.970,0.2300,NaN,NaN,...,3.60304,1,26.009303,-15.933799,Radial Velocity,2017-10,3.113724,1.519290,2014.0,0.95 m Kepler Telescope
6036,tau Cet,tau Cet g,20.000000,0.133000,1.18,1.750000,5.850,0.0600,NaN,NaN,...,3.60304,1,26.009303,-15.933799,Radial Velocity,2017-10,3.113724,1.519290,2016.0,0.95 m Kepler Telescope
6037,tau Cet,tau Cet f,636.130000,1.334000,1.81,3.930000,3.640,0.1600,NaN,NaN,...,3.60304,1,26.009303,-15.933799,Radial Velocity,2017-10,3.113724,1.519290,2014.0,0.95 m Kepler Telescope
6038,tau Cet,tau Cet e,162.870000,0.538000,1.81,3.930000,3.640,0.1800,NaN,NaN,...,3.60304,1,26.009303,-15.933799,Radial Velocity,2017-10,3.113724,1.519290,2016.0,0.95 m Kepler Telescope
6039,tau Gem,tau Gem b,305.500000,1.170000,12.10,6547.000000,20.300,0.0310,NaN,NaN,...,112.53700,1,107.784723,30.244954,Radial Velocity,2013-07,-29.694542,92.572463,2023.0,0.1 m TESS Telescope
6040,ups And,ups And c,241.258000,0.827774,12.30,4443.241130,13.100,0.2596,NaN,NaN,...,13.40540,2,24.198353,41.403815,Radial Velocity,1999-12,9.171439,4.121491,2012.0,1.88 m Telescope
6041,ups And,ups And d,1276.460000,2.513290,12.50,3257.741172,9.170,0.2987,NaN,NaN,...,13.40540,2,24.198353,41.403815,Radial Velocity,1999-12,9.171439,4.121491,2016.0,1.0 m McLellan telescope
6042,ups And,ups And b,4.617033,0.059222,14.00,218.531000,0.438,0.0215,NaN,NaN,...,13.40540,2,24.198353,41.403815,Radial Velocity,1997-01,9.171439,4.121491,2023.0,4.3 m Lowell Discovery Telescope
6043,ups Leo,ups Leo b,385.200000,1.180000,14.20,162.092488,0.311,0.3200,NaN,NaN,...,52.59730,1,174.237219,-0.823564,Radial Velocity,2021-12,-52.326075,5.280750,2018.0,0.95 m Kepler Telescope
6044,xi Aql,xi Aql b,136.970000,0.625000,13.40,616.904938,1.410,0.0590,NaN,NaN,...,56.18580,1,298.562449,8.461105,Radial Velocity,2008-06,26.570968,-48.810690,2015.0,4 m ESO Vista Telescope

### Test Rebound

In [7]:
sim = rb.Simulation()