In [10]:
import pandas as pd
from planet_viz_script.simulation import simulation
from os.path import join

In [11]:
r = join('..', 'data', 'exoplanets_physics_data.csv')
df = pd.read_csv(r).set_index('rowid').sort_values(by='hostname', ignore_index=True)

In [12]:
df.head(10)

,pl_name,hostname,pl_orbper,pl_orblper,pl_orbtper,pl_orbincl,pl_orbsmax,pl_orbeccen,pl_bmasse,st_rad,st_mass
0,11 Com b,11 Com,323.21000,91.330,2454519.400,NaN,1.178,0.238,4914.898486,13.76000,2.09
1,11 UMi b,11 UMi,516.21997,117.630,2452861.040,NaN,1.530,0.080,4684.814200,29.79000,2.78
2,14 And b,14 And,186.76000,0.000,2452853.000,NaN,0.775,0.000,1131.151301,11.55000,1.78
3,14 Her b,14 Her,1765.03890,23.043,2449614.563,144.652,2.774,0.373,2559.472162,0.93000,0.91
4,HD 145675 c,14 Her,15732.45889,5.229,2436430.122,129.097,11.924,0.393,1597.087745,0.93000,0.91
5,16 Cyg B b,16 Cyg B,798.50000,82.740,2450539.300,NaN,1.660,0.680,565.737400,1.13000,1.08
6,17 Sco b,17 Sco,578.38000,57.030,2453294.410,NaN,1.450,0.060,1373.018718,25.92000,1.22
7,18 Del b,18 Del,982.85000,64.110,2454356.100,NaN,2.476,0.024,2926.246143,8.80000,2.10
8,1RXS J160929.1-210524 b,1RXS J160929.1-210524,NaN,NaN,NaN,NaN,330.000,NaN,3000.000000,1.31316,0.85
9,24 Boo b,24 Boo,30.33000,-179.200,2455129.200,NaN,0.194,0.032,280.642483,12.19000,1.05

In [13]:
df.tail(10)

,pl_name,hostname,pl_orbper,pl_orblper,pl_orbtper,pl_orbincl,pl_orbsmax,pl_orbeccen,pl_bmasse,st_rad,st_mass
6035,tau Cet h,tau Cet,49.410000,7.450,NaN,NaN,0.243000,0.2300,1.830000,0.83,0.783
6036,tau Cet g,tau Cet,20.000000,395.341,NaN,NaN,0.133000,0.0600,1.750000,0.83,0.783
6037,tau Cet f,tau Cet,636.130000,119.750,NaN,NaN,1.334000,0.1600,3.930000,0.83,0.783
6038,tau Cet e,tau Cet,162.870000,22.350,NaN,NaN,0.538000,0.1800,3.930000,0.83,0.783
6039,tau Gem b,tau Gem,305.500000,137.400,2453270.700,NaN,1.170000,0.0310,6547.000000,26.80,2.300
6040,ups And c,ups And,241.258000,241.700,2450157.780,NaN,0.827774,0.2596,4443.241130,1.56,1.300
6041,ups And d,ups And,1276.460000,258.820,2451347.480,NaN,2.513290,0.2987,3257.741172,1.56,1.300
6042,ups And b,ups And,4.617033,324.900,2450005.368,NaN,0.059222,0.0215,218.531000,1.56,1.300
6043,ups Leo b,ups Leo,385.200000,131.000,2455279.600,NaN,1.180000,0.3200,162.092488,11.22,1.480
6044,xi Aql b,xi Aql,136.970000,0.000,2453001.000,NaN,0.625000,0.0590,616.904938,10.86,1.740

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6045 entries, 0 to 6044
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pl_name      6045 non-null   object
 1   hostname     6045 non-null   object
 2   pl_orbper    5732 non-null   float64
 3   pl_orblper   1943 non-null   float64
 4   pl_orbtper   1027 non-null   float64
 5   pl_orbincl   4538 non-null   float64
 6   pl_orbsmax   5733 non-null   float64
 7   pl_orbeccen  5145 non-null   float64
 8   pl_bmasse    6006 non-null   float64
 9   st_rad       5732 non-null   float64
 10  st_mass      6017 non-null   float64
dtypes: float64(9), object(2)
memory usage: 519.6+ KB

In [15]:
df.columns

Index(['pl_name', 'hostname', 'pl_orbper', 'pl_orblper', 'pl_orbtper',
       'pl_orbincl', 'pl_orbsmax', 'pl_orbeccen', 'pl_bmasse', 'st_rad',
       'st_mass'],
      dtype='object')

In [16]:
clean = df[df['hostname'].str.lower() == str('K2-127').lower()].dropna(subset = ['pl_orbsmax', 'pl_orbeccen'], axis=0, ignore_index=True)

In [17]:
clean.iloc[0]['st_mass']

np.float64(0.72)

## PLANET VISUALIZER

### ¿Cómo puedo usar el simulador? :

El simulador comienza a funcionar al correr este notebook, que utiliza el código del script 'simulation.py' dentro de la carpeta planet_viz_script creado por nosotros. La visualización de un sistema está definida por el parámetro que le entreguemos a la función simulation() que está en la última celda de este notebook (deslizar hacia abajo para revisar).

#### Hay 2 opciones principales para elegir :

- Si simulation() se ejecuta sin parametros de entrada, por defecto la función hará un random.choice y mostrará un sistema cualquiera de los disponibles en el data frame de forma aleatoria.

- Si se desea visualizar un sistema o planeta en particular, la función recibe el nombre de una host star perteneciente al dataframe y busca los planetas asociados a dicha estrella andfitriona junto a sus características físicas y ejecuta los cálculos necesarios para mostrar un accurate display de la órbita de los exoplanetas que brinden la información suficiente como para ser representados.

#### Sistemas Propuestos
A continuación algunos nombres de sistemas para visualizar. En todo caso si te alimenta la curiosidad puedes ejecutar simulation sin pasarle nada para visualizar un sistema aleatorio :

Sistemas con mayor cantidad de planetas:
- 'KOI-351'
- 'TRAPPIST-1'
- 'K2-138'
- 'KEPLER-11'

- 'HD 219134'
- 'HD 191939'

Sistemas curiosos:
- 'HIP 948' -> Planeta muy lejano con orbita insufriblemente lenta (30 mins en dar una vuelta) y con la estrella lejos del baricentro
- 'HD 27894'
- 'tyc 1422-614-1'

##### NOTA: La visualización por defecto es a escala, si ves que los planetas están muy juntos o solo se ve la estrella en el centro, mantén presionada la barra espaciadora para mejorar la vista. Tal vez te llevas alguna sorpresa : )

In [18]:
simulation('KOI-351')

Cargando display del sistema planetario: koi-351 ...
Finalizando la simulación ...